<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ТензоCенсор</title>
    <link type="text/css" href="{{ url_for('static', filename='css/page_main.css')}}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/page_main.js') }}"></script>
</head>

<body>
    <div class="block_head">
        <div style="font-size: 32px; font-weight: 1000;">ТензоСенсор</div>
        <div style="font-size: 14px;">
            ПО для работы с мобильным стендом<br/>
            для проведения испытаний предохранительных клапанов (СППК) СТИ-10
        </div>
        <div class="block_menu">
            <button onclick="menu_click()" id="settings_button" value="Настройки">Настройки</button>
        </div>
    </div>

    <div class="block_body">

        <div class="block_main_1" id="block_main_1">
            <label for="tenzo">Давление, МПа</label><br/>
            <div style="font-size: 48px; font-weight: 600; padding: 10px;" id="tenzo">0.0</div>
            <button onclick="сorrect_null()">Коррекция нуля</button>
            <label for="max_pressure">MAX давление, МПа</label><br/>
            <div style="font-size: 32px; font-weight: 600; padding: 10px;" id="max_pressure">0.0</div>
            <button onclick="sbros_max()">Сброс</button>
            <label for="pressure_from_sensor">Давление с датчика, МПа</label><br/>
            <div style="font-size: 32px; font-weight: 600; padding: 10px;" id="pressure_from_sensor">0.0</div>
            <button onclick="make_document()">Сформировать протокол</button>
        </div>

        <div class="block_main_2" id="block_main_2">
        
            <div style="display: flex; flex-direction: row; justify-content: center; padding: 15px;">
                <div class="block">
                    <p style="color: red; font-weight: 600;">COM-порт</p>
                    <p style="color: red; font-weight: 600;">Тензодатчик</p>
                    <p style="color: red; font-weight: 600;">Датчик давления</p>
                    <p style="color: red; font-weight: 600;">Средний диаметр уплотнения в затворе (мм)</p>
                    <p style="color: red; font-weight: 600;">Давление установочное (МПа)</p>
                    <p style="color: red; font-weight: 600;">Усилие начала эксперимента в режиме АВТО (кгс)</p>
                    <p>Филиал</p>
                    <p>Наименование оборудования</p>
                    <p>Тип:</p>
                    <p>Завод изготовитель</p>
                    <p>Заводской номер</p>
                    <p>Технологический номер</p>
                    <p>Год выпуска</p>
                    <p>№ пружины</p>
                    <p>Давление рабочее (МПа)</p>
                    <p>Давление среды под клапаном (кгс)</p>
                    <p>Место установки</p>
                    <p>Должность</p>
                    <p>И.О. Фамилия</p>
                    <p>Крайний номер документа</p>
                </div>
    
                <div class="block">
                    <form method="post">
                        <p>
                            <input type="number" step="1" min="1" max="20" name="port" value={{settings.port}}>
                        </p>
                        <p>
                            <select id="tenzo_type" name="tenzo_type" style="width: 200px;">
                                {% if settings.tenzo_type == "200" %}
                                <option value="200" selected>0...200 кг</option>
                                {% else %}
                                <option value="200">0...200 кг</option>
                                {% endif %}
                                {% if settings.tenzo_type == "2000" %}
                                <option value="2000" selected >0...2000 кг</option>
                                {% else %}
                                <option value="2000">0...2000 кг</option>
                                {% endif %}
                            </select>
                        </p>
                        <p>
                            <select id="pressure_type" name="pressure_type" style="width: 200px;">
                                {% if settings.pressure_type == "0" %}
                                <option value="0" selected>Без датчика</option>
                                {% else %}
                                <option value="0">Без датчика</option>
                                {% endif %}
                                {% if settings.pressure_type == "25" %}
                                <option value="25" selected>0...25 МПа</option>
                                {% else %}
                                <option value="25">0...25 МПа</option>
                                {% endif %}
                                {% if settings.pressure_type == "60" %}
                                <option value="60" selected>0...60 МПа</option>
                                {% else %}
                                <option value="60">0...60 МПа</option>
                                {% endif %}
                            </select>
                        </p>
                        <p><input name="diam_upl" value="{{settings.diam_upl}}"></p>
                        <p><input name="ust_davl" value="{{settings.ust_davl}}"></p>
                        <p><input name="v1_transformed_exp_begin" value="{{settings.v1_transformed_exp_begin}}"></p>
                        <p><input name="filial" value={{settings.filial}}></p>
                        <p><input name="naim" value={{settings.naim}}></p>
                        <p><input name="tip" value={{settings.tip}}></p>
                        <p><input name="zavod" value="{{settings.zavod}}"></p>
                        <p><input name="zav_nomer" value="{{settings.zav_nomer}}"></p>
                        <p><input name="techn_nom" value="{{settings.techn_nom}}"></p>
                        <p><input name="god" value="{{settings.god}}"></p>
                        <p><input name="pruzhina" value="{{settings.pruzhina}}"></p>
                        <p><input name="rab_davl" value="{{settings.rab_davl}}"></p>
                        <p><input name="davl_sredi" value="{{settings.davl_sredi}}"></p>
                        <p><input name="mesto_ust" value="{{settings.mesto_ust}}"></p>
                        <p><input name="dolzhn" value="{{settings.dolzhn}}"></p>
                        <p><input name="person" value="{{settings.person}}"></p>
                        <p><input name="doc_num" value="{{settings.doc_num}}"></p>
                    
                </div>
            </div>
            <div><input type="submit" value="Подтведить изменения"></div>
                    </form>
        </div>
    </div>
    <div class="block_bottom">
        ООО "Газпром трансгаз Уфа" Инженерно-технический центр, КИПиА, СДО
    </div>
</body>
</html>